li>a .active {
  color: orange;
}

li {
  text-decoration: none;
}

.searchForm {
  margin: 0 auto;
}

.searchForm button {
  color: ghostwhite;
  background: #4f5250;
}

.username,
.github {
  color: honeydew;
}

.hidden {
  display: none;
}

/* app-nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.mini-nav {
  display: grid;
  grid-template-areas: "menu search user";
}

.hum-menu {
  grid-area: menu;
}

.search {
  grid-area: search;
}

.user-actions {
  grid-area: user;
  margin-left: -2em;
}

.inline-form {
  display: grid;
  grid-template-columns: 75% 10%;
  width: 100%;
}

.search-btn {
  padding-left: 2px;
  margin-left: 2px;
}

main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
