section {
  padding-bottom: 20px;
}

.coverImage {
  max-height: 560px;
}

.welcomeBtn {
  margin-left: auto;
  margin-right: 0;
}

.benefits {
  max-height: auto;
  margin: 0.5em 0.5em;
  padding: 0.5em;
}

.carousel-item img {
  max-height: 560px;
}

.niche-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.niche-specific {
  max-width: 12rem;
  text-align: center;
  margin: 0.5em;
  width: 18rem;
}

.niche-text {
  padding: 5px 0;
}

h2 {
  text-align: center;
  font-weight: bold;
}

.welcomeBtn button {
  margin: 0 5px;
}

@media(max-width: 580px) {
  .nichesingle {
    display: flex !important;
  }

  .benefits {
    /* margin: 5px auto; */
    max-width: 8rem;
    display: inline-block;
    padding: 2px;
  }

  .niche-specific {
    max-width: 7rem;
  }
}
