.movieDetails>div {
  display: inline-block;
}

.card-text {
  font-weight: 600;
  padding: 2px 0;
}

.details {
  float: left;
  margin: auto auto 5px 10px;
  padding-top: 20px;
  position: relative;
  bottom: 10px;
}
.movie {
    
}
