.social li,
.social a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 5px;
}

footer {
  background: #2f2f2f;
  text-align: center;
  color: whitesmoke;
}

.links {
  margin: 0 auto;
}
